@use 'variables' as *;

// ==================== Color Styles ====================

$font-color-green: $green-0;
$font-color-blue: $blue-0;
$font-color-text-2: $neutral-1;
$font-color-purple: $purple-0;
$font-color-red: $red-0;
$font-color-text-4: $neutral-3;
$font-color-text-3: $neutral-2;
$font-color-orange: $orange-0;
$font-color-text-1: $neutral-0;
$dark-purple: $purple-0;
$dark-danger: $red-0;
$dark-secondary: $gray-0;
$dark-blue: $blue-0;
$dark-success: $green-0;
$dark-warning: $orange-0;
$dark-neutral: $neutral-0;
$light-secondary: $gray-3;
$light-purple: $purple-3;
$light-warning: $orange-3;
$light-success: $green-3;
$light-danger: $red-3;
$light-neutral: $neutral-5;
$light-blue: $blue-4;

// ==================== Text Styles ====================

// 待填充

// ==================== Effect Styles ====================

// 待填充
